.settingsForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .logoForm {
    img {
      max-height: 3em;
      max-width: 9em;
    }
  }

  .socialLinks {
    main {
      display: flex;
      flex-direction: column;
      gap: 1em;

      button {
        max-width: 14em;
      }
    }
  }
}
