.homepage {
  > section {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    > * {
      width: calc(50% - 0.5em);

      &:hover {
        transform: scale(1.02);
      }
      transition: transform 0.1s;

      article {
        max-width: 100%;
      }
    }
  }

  > h2 {
    border-bottom: 0.1em solid #7650a1;
  }
}
