.articleForm {
  header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0.1em;
    }
  }

  h4 {
    margin-top: 3em;
    width: 100%;
  }

  main {
    display: flex;
    column-gap: 1em;
  }

  article {
    flex-grow: 1;
    position: relative;

    header {
      position: absolute;
      background: white;
      top: -2.5em;
    }
  }

  input,
  textarea {
    border: 0;
    vertical-align: middle;
    overflow-y: hidden;
    background: initial;
    color: inherit;
  }

  aside > div {
    position: sticky;
    top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
