.articleForm {
  &.preview {
    border-bottom: none;
  }

  &.overlayMode {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      background: rgba(0, 0, 0, 0.3);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8155637254901961) 0%,
        rgba(0, 0, 0, 0.03125) 50%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    footer {
      position: absolute;
      bottom: 0;
      color: white;
      padding: 3%;
      font-size: 2em;
      z-index: 2;
    }
  }

  header,
  footer {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0.1em;
      margin-bottom: 0.1em;

      small {
        display: flex;
        opacity: 1 !important;
        align-items: center;
      }
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.8em;
  }

  article {
    flex-grow: 1;
    position: relative;
    // NOTE: 95% on large devices, 100vw on mobile
    // max-width: min(95%, 100vw);
    flex-basis: 94%;
  }

  input,
  textarea {
    border: 0;
    vertical-align: middle;
    overflow-y: hidden;
    background: initial;
    color: inherit;
  }

  header,
  footer {
    textarea {
      font-family: "Intro";
      padding: 0;
    }
  }

  aside > div {
    position: sticky;
    top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  aside img {
    max-width: 1.5em;
  }

  aside {
    a {
      display: inline-flex;
      transition: rotate 0.1s;
    }

    a:hover,
    a:focus,
    a:active {
      rotate: 5deg;

      transition: rotate 0.1s;
    }
  }

  .tagSection {
    font-size: 1.5em;
    margin-left: auto;
    display: block;
    margin-bottom: 0.5em;

    label {
      white-space: nowrap;

      > div {
        display: inline-flex !important;
      }
    }

    input {
      padding: 0;
      outline: none;

      &::placeholder {
        opacity: 0.5;
      }
    }
  }
}
