.articleForm {
  &.preview {
    border-bottom: none;
  }

  header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0.1em;
      margin-bottom: 0.1em;

      small {
        display: flex;
        opacity: 1 !important;
        align-items: center;
      }
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  article {
    flex-grow: 1;
    position: relative;
    // NOTE: 95% on large devices, 100vw on mobile
    max-width: min(95%, 100vw);
  }

  input,
  textarea {
    border: 0;
    vertical-align: middle;
    overflow-y: hidden;
    background: initial;
    color: inherit;
  }

  header textarea {
    padding: 0;
  }

  aside > div {
    position: sticky;
    top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  aside img {
    max-width: 1.5em;
  }

  .tagSection {
    font-size: 1.5em;
    margin-left: auto;

    label {
      white-space: nowrap;

      > div {
        display: inline-flex !important;
      }
    }

    input {
      padding: 0;
      outline: none;

      &::placeholder {
        opacity: 0.5;
      }
    }
  }
}
