.articleEditor {
  header {
    display: flex;
    gap: 0.1em;

    .formatControls {
      display: inline-flex;
      border: 1px solid gray;
      border-radius: 0.2em;

      .buttonGroup {
        display: inline-flex;
        align-items: flex-end;
        border-right: 1px solid #eee;
        padding: 0.3em;

        button {
          color: #c7c7c7;
          padding: 0.2em;
          border-radius: 0;
          border: 1px solid rgba(0, 0, 0, 0);
        }

        button.active {
          color: inherit;
        }
      }

      .buttonGroup:last-child {
        border-right: 0;
      }
    }
  }

  button.small {
    font-size: 1em;
  }
}
