.articleEditor {
  header {
    display: flex;
    visibility: hidden;
    gap: 0.1em;
    position: sticky;
    top: 1em;
    z-index: 1;

    .formatControls {
      display: inline-flex;
      flex-wrap: wrap;
      background: white;

      .buttonGroup {
        display: inline-flex;
        align-items: flex-end;
        border-right: 1px solid #eee;
        margin: 0.1em;
        padding: 0.3em;

        border: 1px solid rgb(184, 184, 184);
        border-radius: 0.2em;

        button {
          color: #c7c7c7;
          padding: 0.2em;
          border-radius: 0;
          border: 1px solid rgba(0, 0, 0, 0);
        }

        button.active {
          color: inherit;
        }
      }
    }
  }

  // .content {
  //   border-top: 0.1em solid rgb(184, 184, 184);
  // }

  button.small {
    font-size: 1em;
  }

  &:hover,
  &:focus,
  &:active {
    header {
      visibility: visible;
    }
  }
}
