@font-face {
  font-family: "IntroCondCaps";
  src: local("IntroCondCaps"),
    url(./intro-cond-light-free.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "IntroCondCaps";
  font-weight: bold;
  src: local("IntroCondCaps"),
    url(./intro-cond-black-free.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Intro";
  src: local("Intro"), url(./intro-regular.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Intro";
  font-weight: 300;
  src: local("Intro"), url(./intro-bold.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Intro";
  font-weight: bold;
  src: local("Intro"), url(./intro-black.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.root {
  $max-content-width: 900px;

  font-family: "Intro";
  font-size: 1.1em;

  & > main {
    max-width: $max-content-width;
    margin: auto;
  }

  & > header {
    background: rgb(25, 20, 31);
    display: flex;
    justify-content: space-between;
    padding: 0 calc((100% - $max-content-width) / 2);

    nav {
      display: flex;

      a {
        color: white;
      }
    }
  }

  nav > * {
    color: white;
    padding: 1.5em 1em;
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "IntroCondCaps";
  }

  fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button,
  .button,
  .buttonAlt {
    font-family: "IntroCondCaps";
    font-weight: bold;
    color: white;
    background-color: rgb(74, 71, 74);
    border: none;
    border-radius: 0.2em;
    padding: 0.2em 0.4em;

    font-size: 1.5rem;
    cursor: pointer;
  }

  .buttonAlt {
    display: inline-flex;
    color: initial;
    background-color: initial;
    padding: 0.1em;
  }

  button[disabled],
  .button[disabled] {
    cursor: initial;
    opacity: 0.5;
  }

  .article {
    header {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 1em;

      small {
        margin-top: -1.9em;
        opacity: 0.5;
        width: 100%;
      }

      a {
        svg {
          font-size: 1.5em;
        }
      }
    }
  }
}
