@font-face {
  font-family: "IntroCondCaps";
  src: local("IntroCondCaps"),
    url(./intro-cond-light-free.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "IntroCondCaps";
  font-weight: bold;
  src: local("IntroCondCaps"),
    url(./intro-cond-black-free.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Intro";
  src: local("Intro"), url(./intro-regular.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Intro";
  font-weight: 300;
  src: local("Intro"), url(./intro-bold.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Intro";
  font-weight: bold;
  src: local("Intro"), url(./intro-black.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.root {
  $max-content-width: 900px;

  font-family: "Intro";
  font-size: 1.1em;

  & > main {
    max-width: $max-content-width;
    margin: auto;
  }

  & > header {
    background: rgb(25, 20, 31);
    display: flex;
    justify-content: space-between;
    padding: 0 calc((100% - $max-content-width) / 2);
    border-bottom: 0.5em solid rgb(81, 119, 55);

    nav {
      display: flex;

      a {
        color: white;
      }
    }
  }

  nav > * {
    color: white;
    padding: 1.5em 1em;
    cursor: pointer;
  }

  a * {
    cursor: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "IntroCondCaps";
    width: 100%;

    small {
      display: flex;
      font-size: 0.9rem;
      font-family: "Intro";
      font-weight: normal;
      opacity: 0.5;
      width: 100%;
    }
  }

  h1 {
    font-size: 3em;
  }

  input,
  textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0.3em;
  }

  textarea {
    width: 100%;
    resize: none;
  }

  ::placeholder {
    font-style: italic;
  }

  fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  blockquote {
    position: relative;
    color: #8b8b8b;
    font-style: italic;
    background: #f9f9f9;
    border-left: 10px solid rgb(118, 80, 161);
    margin: 1.5em 10px;
    padding: 1.1em 10px;
    padding-left: 2em;
  }

  blockquote:before {
    content: "\201C";
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    font-size: 4em;
    left: 0.1em;
    top: 0em;
  }

  code {
    display: inline;
    background: #f4f4f4;
    border: 1px solid #ddd;
    color: #666;
    font-family: monospace;
    font-size: 0.9em;
    line-height: 1.6;
    margin-bottom: 1.6em;
    overflow: auto;
    word-wrap: break-word;
    padding: 0em 0.2em;
    border-radius: 0.2em;
  }

  pre code {
    display: block;
    border-left: 3px solid rgb(118, 80, 161);
    page-break-inside: avoid;
    max-width: 100%;
    padding: 1em 1.5em;
  }

  button,
  .button,
  .buttonAlt {
    font-family: "IntroCondCaps";
    font-weight: bold;
    color: white;
    background-color: rgb(74, 71, 74);
    border: none;
    border-radius: 0.2em;
    padding: 0.2em 0.4em;

    font-size: 1.5rem;
    cursor: pointer;
  }

  .buttonAlt {
    display: inline-flex;
    color: initial;
    background-color: initial;
    padding: 0.1em;
  }

  button[disabled],
  .button[disabled] {
    cursor: initial;
    opacity: 0.5;
  }

  .article {
    // border-bottom: 0.2em solid #7650a1;
    margin-bottom: 1em;

    header {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      // column-gap: 1em;

      small {
        display: flex;
        opacity: 0.5;
        width: 100%;
        color: gray;
      }

      a {
        svg {
          font-size: 1.5em;
        }
      }
    }
  }
}
