.socialLinkForm {
  fieldset {
    display: flex;
    gap: 1em;
  }

  a {
    display: inline-flex;
  }

  img {
    max-width: 1.5em;
  }

  label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }

  aside {
    display: flex;
    flex-direction: column;
  }

  .buttonAlt {
    display: inline-flex;
    color: initial;
    background-color: initial;
    padding: 0.1em;
  }

  .red {
    color: red;
  }
}
