.socialLinkForm {
  fieldset {
    display: flex;
    align-items: flex-end;
    gap: 1em;
  }

  a {
    display: inline-flex;
  }

  img {
    max-width: 1.5em;
  }

  label {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
  }
}
