.articlePage {
  > section > h2 {
    border-bottom: 0.1em solid #7650a1;
  }

  > .newsSection {
    > ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;

      li {
        width: calc(50% - 0.5em);

        &:hover h2 {
          color: #c195f3;
          text-decoration: underline;
        }

        article {
          max-width: 100%;
        }
      }
    }
  }
}
